.container-especie {
    border: 3px solid aquamarine;
    width: 90vw;
    height: 100vh;
    font-family: 'Lucida Sans unicode';
    border: solid #cdc6c6;
    border-bottom-width: 10px;
    border-top-width: 10px;
    border-right-width: 10px;
    border-left-width: 10px;
    /* background-color: blue; */
    float: left;
}
.especies {
    /* background-color: pink; */
    /* border: 3px solid aquamarine; */
    width: 89vw;
    height: 98vh;
    margin: 1px;
   
    }
    .clasificacion {
    /* background-color: gold; */
    border: 3px solid aquamarine;
    width: 67vw;
    height: 62vh;
    box-align: center;
    margin: 1em;
    float: left;
}
 /* .posicion-ul {
  float: left;
  display: grid; 
} */
