.container-init {
    /* background-color: blue; */
    width: 90vw;
    height: 90vh;
    font-family: 'Lucida Sans unicode';
    border: solid #cdc6c6;
    border-bottom-width: 25px;
    border-top-width: 9px;
    border-right-width: 9px;
    border-left-width: 9px;
}
.inicio {
    /* background-color: pink; */
    /* border: 3px solid aquamarine; */
    width: 87vw;
    height: 87vh;
    margin: 1px;
    }

.introduccion {
    /* background-color: gold; */
    border: 3px solid aquamarine;
    width: 67vw;
    height: 50vh;
    box-align: center;
    margin: 1em;
    float: left;
}

ul {
    float: left;
}